body  {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 5rem;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 1.5rem;
}

.shop {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: white;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 1rem;
}

.shop:hover {
    cursor: pointer;
    text-decoration: underline;
}

.shop a {
    color: black;
}

.menu {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-top: 30px;
    background-color: black;
    min-width: 430px;
    z-index: 1;
    right:0;
    color: white;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    border-top: 1px solid white;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
}

.dropdown-content ul li a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    flex-direction: column;
    display: flex;
}

.top-text {
    position: absolute;
    top: 90px;
    left: 32px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.middle-text {
    position: absolute;
    top: 135px;
    left: 32px;
    color: white;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: left;
    max-width: 360px;
}

.button {
    position: absolute;
    top: 250px;
    left: 32px;
    width: 184px;
    height: 45px;
    background-color: #FF6b6b;
    border: none;
    font-weight: bold;
}

.button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}

.info {
    background: linear-gradient(0.25turn, #975fa5, #794185, #4c1958);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 2rem 2rem 2rem;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info-admission {
    background: linear-gradient(0.25turn, #000000, #000000, #262626);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 2rem 1rem 2rem;
    color: white;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.daily {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
}

.daily-desktop {
    padding: 1rem 2rem 1rem 2rem;
    display: none;
    flex-direction: column;
    max-width: 800px;
}

.daily-admission {
    font-weight: normal;
    font-size: 1rem;
    text-transform: none;
    margin: 1rem 1rem 1rem 1rem;
}

.daily-admission:hover {
    cursor:pointer;
    text-decoration: underline;
}

.more {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: black;
}

.more-admission {
    text-transform: none;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: black;
}

.caps {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
}

.more a {
    text-decoration: none;
    color: black;
}

.more a:hover {
    text-decoration: underline;
}

.event-1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.event-1-desktop{
    text-align: center;
    margin-top: 2.5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.content-card {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    background-color: rgba(245, 245, 245, 0.63);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 360px;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
}

.content-card:hover {
    background-color: #d7d7d7;
    transition: all 0.3s ease-in-out;
}

h1 {
    margin:0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.content-card button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    overflow: hidden;
}

.event-info {
    font-weight: normal;
    margin-top: 1rem;
}

.event-1 button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.event-1-desktop button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content-info {
    color: #464646;
}

.event-desktop {
    display: none;
}

.event-info {
    display: none;
}

.button-admission {
    margin-top: 1rem;
    width: 184px;
    height: 45px;
    background-color: #FF6b6b;
    border: none;
    font-weight: bold;
}

.button-admission:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000000;
}

footer i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f3f3f3;
    color: #000000;
}

footer ul {
    margin-top: 48px;
    gap: 3rem;
    display: flex;
    list-style-type: none;
    padding:0;
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 2rem;
}

.footer-back {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.footer-underline {
    text-decoration: underline;
    color: rgb(122, 122, 122);
}

.footer-underline:hover {
    cursor:pointer;
    text-decoration: none;
}

.footer-copyright {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.footer-info {
    padding: 2rem 2rem 2rem 2rem;
}

.footer-info-block {
    border-bottom: 1px solid rgba(162, 162, 162, 0.62);
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1rem;
    background-color: #e1e1e1;
    min-height: 130px;
}

.icon-fb {
    color: #3B5998;
}

.icon-tw {
    color: #1DA1F2;
}

.icon-ig {
    color: orange;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-icons-desktop {
    display: none;
}

.bg-desktop {
    display: none;
}

.top-text-admission {
    position: absolute;
    top: 200px;
    left: 32px;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.underline {
    border-bottom: 1px solid white;
}

.middle-text-admission {
    position: absolute;
    top: 255px;
    left: 32px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: left;
    max-width: 360px;
}

.admission-info {
    margin: 2rem 2rem 0rem 2rem;
    line-height: 1.2;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
}

.info-admission-desktop {
    display: none;
    width: 660px;
    height: 260px;
    background-color: #000000;
}

.daily-admission-desktop {
    padding: 2rem 2rem 2rem 2rem;
    color: white;
}

.admission-text-desktop {
    padding: 2rem 2rem 2rem 2rem;
    color:white;
}

.caps-desktop {
    color: white;
    font-weight: bold;
}

.more-admission-desktop {
    color: white;
    margin: 0.5rem 0 0.5rem 0;
}

.admission-info-desktop {
    display:flex;
    flex-direction: row-reverse;
}

.event-calendar {
    margin: 2rem 2rem 2rem 2rem;
}

.event-calendar p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.4px;
}

.bold {
    font-weight: bold;
}

.bar {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 4.5rem 1rem 4.5rem;
    color: white;
    background-color: black;
}

.arrow-left {
    background-color: #975fa5;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.arrow-right {
    background-color: #975fa5;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.choose-month {
    text-align: center;
}

.calendar-month {
    padding-top: 4rem;
    margin-left: 2rem;
}

.date {
    color:white;
    background-color: #808080;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
}

.book {
    color: white;
    background-color: black;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.closed {
    color: #565656;
    background-color: #d7d7d7;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.book:hover {
    cursor:pointer;
    text-decoration: underline;
}

.activities {
    text-align: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.booking {
    display:flex;
    flex-direction: column;
}

.newsletter-title {
    background: linear-gradient(0.25turn, #975fa5, #794185, #4c1958);
    padding: 2rem 2rem 2rem 2rem;
}

.newsletter-title h1 {
    font-size: 1rem;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    background: #f1f1f1;
}

.newsletter-container {
    padding: 2rem;
}

.checklist {
    background-color: #eeeeee;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.checklist input {
    margin: 0.5rem;
}

.register {
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 16px 20px;
    margin: 2rem 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
}

.options {
    padding-left: 2rem;
    padding-right: 2rem;
}
/* Small (sm) */


/* Medium (md) */
@media (min-width: 768px) {
    .content-card {
        min-width: 540px;
        min-height: 160px;
        font-size: 1.25rem;
    }

    .event-mobile {
        display: none;
    }

    .event-desktop {
        display: block;
    }

    .info {
        align-content: center;
        padding-left: 4rem;
        font-size: 1.5rem;
    }

    .more {
        font-size: 1.5rem;
    }

    .header {
        padding: 0 4rem 0 4rem;
    }

    .top-text {
        font-size: 2rem;
        left: 4rem;
        top: 10rem;
    }

    .middle-text {
        top:16rem;
        left: 4rem;
        font-size: 1.5rem;
    }

    .button {
        top: 28rem;
        left: 4rem;
        width: 204px;
        height: 55px;
    }

    .top-text-admission {
        left: 4rem;
        top: 24rem;
        font-size: 1.5rem;
    }

    .middle-text-admission {
        left: 4rem;
        top: 30rem;
        font-size: 2.5rem;
    }

    .date {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .book {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .closed {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .event-calendar {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .calendar-month {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .newsletter-title {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .newsletter-container {
        padding: 4rem;
    }

    .checklist {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .options {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
/* Large (lg) */
@media (min-width: 1024px) {
    .info {
        padding-left: 5rem;
    }

    .shop {
        margin-right: 1rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .dropdown-content {
        padding-top: 38px;
    }

    .header {
        height: 6rem;
        padding: 0 5rem 0 5rem;
    }

    .top-text {
        font-size: 2.25rem;
        left: 5rem;
    }

    .middle-text {
        font-size: 1.75rem;
        left: 5rem;
    }

    .button {
        font-size: 1.5rem;
        height: 65px;
        width: 204px;
        left: 5rem;
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-info-block {
        border-bottom: none;
    }

    .top-text-admission {
        left: 5rem;
        top: 31rem;
        font-size: 2rem;
    }

    .middle-text-admission {
        left: 5rem;
        top: 39rem;
        font-size: 3rem;
    }

    .info-admission {
        padding-left: 5rem;
    }

    .admission-info {
        margin-left: 5rem;
        font-size: 1.5rem;
    }

    .admission-info p {
        font-size: 1.25rem;
    }

    .date {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .book {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .closed {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .event-calendar {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .calendar-month {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .newsletter-title {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .newsletter-title h1 {
        font-size: 1.25rem;
    }

    .newsletter-container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .checklist {
        padding-left: 5rem;
        padding-right: 5rem;
        flex-direction: row;
        justify-content: flex-start;
    }

    .checklist div {
        padding: 2rem;
    }

    .options {
         padding-left: 5rem;
         padding-right: 5rem;
     }

    .logo {
        font-size: 2rem;
    }
    /* Your styles for the large breakpoint here */
}
/* Extra Large (xl) */
@media (min-width: 1280px) {
    .info {
        padding: 0 0 0 10rem;
        flex-direction: row;
        font-size: 1.5rem;
    }

    .more {
        font-size: 1.5rem;
    }

    .header {
        height: 8rem;
        padding: 0 10rem 0 10rem;
    }

    .shop {
        margin-right: 1rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

    .desktop-menu {
        display: none;
    }

    .dropdown-content{
        padding-top: 0;
        display: block;
        position: relative;
    }

    .dropdown-content ul{
        display: flex;
        flex-direction: row;
    }

    .dropdown-content li {
        border-top: 0;
    }

    .bg-mobile {
        display: none;
    }

    .bg-desktop {
        display: block;
    }

    .top-text {
        font-size: 3rem;
        left: 10rem;
        letter-spacing: 5px;
    }

    .middle-text {
        top: 16rem;
        max-width: 600px;
        font-size: 2rem;
        left: 10rem;
    }

    .button {
        top: 26rem;
        left: 10rem;
    }

    .daily {
        margin-top: 2rem;
        padding-bottom: 2rem;
    }

    .daily-desktop {
        margin-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
    }

    .activities {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #f6f6f6;
    }

    .event-mobile {
        display: none;
    }

    .event-desktop {
        display: block;
    }

    .content-card {
        min-width: 540px;
        min-height: 160px;
        font-size: 1.25rem;
    }

    .event-info {
        font-size: 1rem;
        display: block;
    }

    h1 {
        font-size: 2.5rem;
    }

    .event-calendar p {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 2rem;
    }

    .event-1 button {
        padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    }

    .event-1-desktop button {
        padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    }

    .event-1-desktop{
        display: flex;
        margin: 3rem 1rem 3rem 1rem;
    }

    .event-1 {
        margin: 3rem 1rem 3rem 1rem;
    }

    .activities {
        justify-content: space-evenly;
    }

    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer-info-block {
        border-bottom: none;
    }

    .top-text-admission {
        left: 10rem;
        top: 20rem;
        font-size: 2rem;
    }

    .middle-text-admission {
        left: 10rem;
        top: 27rem;
        font-size: 3rem;
    }

    .info-admission-desktop {
        display: flex;
        flex-direction: column;
        margin: 0 0 2rem 2rem;
    }

    .info-admission {
        display: none;
    }

    .admission-info {
        margin:0;
    }

    .admission-info-desktop {
        margin: 3rem 10rem 3rem 10rem;
    }

    .date {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .book {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .closed {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .event-calendar {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .calendar-month {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .newsletter-title {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .newsletter-title h1 {
        font-size: 1.5rem;
    }

    .newsletter-container {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .checklist {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .options {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    /* Your styles for the extra large breakpoint here */
}
/* 2XL (2xl) */
@media (min-width: 1536px) {
    .event-1 {
        margin: 4rem 3rem 4rem 3rem;
    }

    .event-1-desktop{
        margin: 4rem 3rem 4rem 3rem;
    }

    .top-text-admission {
        top: 30rem;
    }

    .middle-text-admission {
        top: 36rem;
    }
    /* Your styles for the 2XL breakpoint here */
}
